/* Tables */
.gt_table {
display: table;
border-collapse: collapse;
width: auto;
/* 
margin-left: 0;
margin-right: auto;  
font-size: 16px;
*/
color: #FFFFF;
font-weight: normal;
font-style: normal;
background-color: #FFFFFF;
border-top-style: solid;
border-top-width: 2px;
border-top-color: #FFFFFF;
border-right-style: none;
border-right-width: 2px;
border-right-color: #FFFFFF;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #FFFFFF;
border-left-style: none;
border-left-width: 2px;
border-left-color: #FFFFFF;
}

.gt_title {
font-weight: bold !important;
font-size: 20pt !important;
text-align: left !important;
border-bottom-width: 1px !important;
border-bottom-color: black !important;
color: black !important;
}

.gt_col_heading {
color: #FFFFF;
background-color: #FFFFFF;
font-size: 100%;
font-weight: normal;
text-transform: inherit;
border-left-style: none;
border-left-width: 1px;
border-left-color: #FFFFFF;
border-right-style: none;
border-right-width: 1px;
border-right-color: #FFFFFF;
vertical-align: bottom;
padding-top: 5px;
padding-bottom: 6px;
padding-left: 5px;
padding-right: 5px;
overflow-x: hidden;
}

.gt_column_spanner_outer {
color: #FFFFF;
background-color: #FFFFFF;
font-size: 100%;
font-weight: normal;
text-transform: inherit;
padding-top: 0;
padding-bottom: 0;
padding-left: 4px;
padding-right: 4px;
}

.gt_column_spanner {
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #FFFFFF;
vertical-align: bottom;
padding-top: 5px;
padding-bottom: 6px;
overflow-x: hidden;
display: inline-block;
width: 100%;
}

.gt_group_heading {
color: #55565A !important;
background-color: #DBD9D6 !important;
border-top-width: 0 !important;
border-bottom-width: 0 !important;
}

.gt_table_body {
border-top-style: solid;
border-top-width: 2px;
border-top-color: #FFFFFF;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #FFFFFF;
}

.gt_row {
/*
padding-top: 8px;
padding-bottom: 8px;
padding-left: 5px;
padding-right: 5px;
margin: 10px;
*/
border-top-style: solid;
border-top-width: 1px;
border-top-color: #FFFFFF;
border-left-style: none;
border-left-width: 1px;
border-left-color: #FFFFFF;
border-right-style: none;
border-right-width: 1px;
border-right-color: #FFFFFF;
vertical-align: middle;
overflow-x: hidden;
}

.gt_striped {
background-color: #DBD9D6;
}

.gt_summary_row {
border-top-width: 1px !important;
}

.gt_footnote {
border-style: solid;
border-width: 1px;
border-color: black;
}

.gt_bottom_border {
border-bottom-color: black !important;
}
